[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
autoflake = "*"
isort = "*"
mypy = "*"
pytest = "*"

[packages]

[requires]
python_version = "3.7"

[scripts]
install = "python3 setup.py install"
develop = "python3 setup.py develop"

lint = "flake8 {{ cookiecuuter.repo_name }}/"
test = "pytest {{ cookiecutter.repo_name }}/tests/"
format = "autoflake --in-place --remove-all-unused-imports --remove-unused-variables --recursive {{ cookiecutter.repo_name }} && isort -rc {{ cookiecutter.repo_name }} && black -t py37 --line-length 119 {{ cookiecutter.repo_name }}"
formatcheck = "black --check -t py37 --line-length 119 {{ cookiecutter.repo_name }}"
mypy = "mypy --html-report ./report {{ cookiecutter.repo_name }}"

[pipenv]
allow_prereleases = true
